/*
 *  1.0. Mixins
*/
:root {
  --color-text-main: #000;
}
.grid.grid--slider {
  --col-gap: var(--grid-mobile-horizontal-spacing);
}
@media screen and (min-width: 750px) {
  .grid.grid--slider {
    --col-gap: var(--grid-desktop-horizontal-spacing);
  }
}
.lazy-image[data-ratio] img {
  left: 0;
}
.css-slider-holder {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.css-slider-holder::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

.css-slider {
  width: 100%;
  position: relative;
}
.css-slider.enabled {
  display: block;
}

.css-slider-viewport {
  width: 100%;
}

.css-slider-holder {
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  cursor: grab;
}
.css-slider-holder.mouse-down {
  cursor: grabbing;
}
.css-slider-holder.dragging *,
.css-slider-holder.pointer-events-off * {
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}
.css-slider-holder.mouse-fallback,
.css-slider-holder.disable-snapping,
.css-slider-holder.force-disable-snapping {
  scroll-behavior: unset;
  scroll-snap-type: none;
}

css-slider:not(.enabled) .grid--slider {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  overflow-x: auto;
}
css-slider:not(.enabled) .grid--slider::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

.css-slide--snap {
  scroll-snap-align: start;
}

.css-slider--singular,
.css-slider--singular .css-slider-holder {
  cursor: default;
}
.css-slider--singular .css-slider-navigation-container {
  display: none;
}

.css-slider--no-drag {
  cursor: default !important;
}

.css-slider-viewport.auto-height {
  overflow: hidden;
  transition: height 200ms linear;
}
.css-slider-viewport.auto-height .css-slide {
  height: fit-content;
}

.css-slider-dot-navigation {
  width: fit-content;
  margin-top: 20px;
}
.css-slider-dot-navigation .css-slider-dot {
  width: 9px;
  height: 9px;
  display: inline-block;
  margin: 0 5px;
  border-radius: 7px;
  transition: all 100ms linear;
  cursor: pointer;
  background-color: var(--color-text-main);
  opacity: 0.25;
  position: relative;
}
.card .css-slider-dot-navigation .css-slider-dot,
.panel .css-slider-dot-navigation .css-slider-dot {
  background-color: var(--color-text-cards);
}
.no-touchevents .css-slider-dot-navigation .css-slider-dot:not(.active):hover {
  opacity: 0.5;
}
.css-slider-dot-navigation .css-slider-dot.active {
  opacity: 1;
  width: 30px;
}

.css-slider-button {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  transition: all 100ms linear;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.8;
}
html[dir='rtl'] .css-slider-button {
  transform: scale(-1);
}
.css-slider-button.disabled {
  opacity: 0.3;
  cursor: auto;
  pointer-events: none;
}
.css-slider-button[style*='block'] {
  display: flex !important;
}
.no-touchevents .css-slider-button:not(.disabled):hover {
  opacity: 1;
}
.css-slider-button svg path {
  fill: var(--color-text-main);
}
.card .css-slider-button svg path,
.panel .css-slider-button svg path {
  fill: var(--color-text-cards);
}

.css-slider-prev {
  left: 0;
}

.css-slider-next {
  right: 0;
}

.css-slider--bottom-navigation .css-slider-navigation-container {
  margin-top: 0.625rem;
  margin-bottom: -0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.css-slider--bottom-navigation .css-slider-navigation-container .css-slider-prev {
  order: 1;
}
.css-slider--bottom-navigation .css-slider-navigation-container .css-slider-dot-navigation {
  order: 2;
  margin-top: -0.125rem;
}
@media screen and (max-width: 474px) {
  .css-slider--bottom-navigation .css-slider-navigation-container .css-slider-dot-navigation {
    display: none !important;
  }
}
.css-slider--bottom-navigation .css-slider-navigation-container .css-slider-index-navigation {
  order: 2;
  display: none;
}
@media screen and (max-width: 474px) {
  .css-slider--bottom-navigation .css-slider-navigation-container .css-slider-index-navigation {
    display: block;
  }
}
.card .css-slider--bottom-navigation .css-slider-navigation-container .css-slider-index-navigation,
.panel .css-slider--bottom-navigation .css-slider-navigation-container .css-slider-index-navigation {
  color: var(--color-text-cards);
}
.css-slider--bottom-navigation .css-slider-navigation-container .css-slider-next {
  order: 3;
}

.css-slider--left-navigation .css-slider-navigation-container {
  justify-content: flex-start;
  margin-inline-start: -0.9375rem;
}

.css-slider-index-navigation {
  color: var(--color-text-main);
}
.card .css-slider-index-navigation,
.panel .css-slider-index-navigation {
  color: var(--color-text-main);
}

.element--border-radius .css-slider-viewport {
  border-radius: var(--border-radius-cards);
}

.grid.grid--slider {
  --col-size: calc((100% - var(--col-gap) * (var(--visible-cols) - 1)) / var(--visible-cols));
  display: grid;
  grid-gap: var(--col-gap);
}
.grid.grid--slider.grid-1 {
  --visible-cols: 1;
}
.grid.grid--slider.grid-2 {
  --visible-cols: 2;
}
.grid.grid--slider.grid-3 {
  --visible-cols: 3;
}
.grid.grid--slider.grid-4 {
  --visible-cols: 4;
}
.grid.grid--slider.grid-5 {
  --visible-cols: 5;
}
.grid.grid--slider.grid-6 {
  --visible-cols: 6;
}
@media screen and (max-width: 1280px) {
  .grid.grid--slider.grid-laptop-1 {
    --visible-cols: 1;
  }
}
@media screen and (max-width: 1280px) {
  .grid.grid--slider.grid-laptop-2 {
    --visible-cols: 2;
  }
}
@media screen and (max-width: 1280px) {
  .grid.grid--slider.grid-laptop-3 {
    --visible-cols: 3;
  }
}
@media screen and (max-width: 1280px) {
  .grid.grid--slider.grid-laptop-4 {
    --visible-cols: 4;
  }
}
@media screen and (max-width: 1280px) {
  .grid.grid--slider.grid-laptop-5 {
    --visible-cols: 5;
  }
}
@media screen and (max-width: 1280px) {
  .grid.grid--slider.grid-laptop-6 {
    --visible-cols: 6;
  }
}
@media screen and (max-width: 1023px) {
  .grid.grid--slider.grid-portable-1 {
    --visible-cols: 1;
  }
}
@media screen and (max-width: 1023px) {
  .grid.grid--slider.grid-portable-2 {
    --visible-cols: 2;
  }
}
@media screen and (max-width: 1023px) {
  .grid.grid--slider.grid-portable-3 {
    --visible-cols: 3;
  }
}
@media screen and (max-width: 1023px) {
  .grid.grid--slider.grid-portable-4 {
    --visible-cols: 4;
  }
}
@media screen and (max-width: 1023px) {
  .grid.grid--slider.grid-portable-5 {
    --visible-cols: 5;
  }
}
@media screen and (max-width: 1023px) {
  .grid.grid--slider.grid-portable-6 {
    --visible-cols: 6;
  }
}
@media screen and (max-width: 767px) {
  .grid.grid--slider.grid-lap-1 {
    --visible-cols: 1;
  }
}
@media screen and (max-width: 767px) {
  .grid.grid--slider.grid-lap-2 {
    --visible-cols: 2;
  }
}
@media screen and (max-width: 767px) {
  .grid.grid--slider.grid-lap-3 {
    --visible-cols: 3;
  }
}
@media screen and (max-width: 767px) {
  .grid.grid--slider.grid-lap-4 {
    --visible-cols: 4;
  }
}
@media screen and (max-width: 767px) {
  .grid.grid--slider.grid-lap-5 {
    --visible-cols: 5;
  }
}
@media screen and (max-width: 767px) {
  .grid.grid--slider.grid-lap-6 {
    --visible-cols: 6;
  }
}
@media screen and (max-width: 474px) {
  .grid.grid--slider.grid-palm-1 {
    --visible-cols: 1;
  }
}
@media screen and (max-width: 474px) {
  .grid.grid--slider.grid-palm-2 {
    --visible-cols: 2;
  }
}
@media screen and (max-width: 474px) {
  .grid.grid--slider.grid-palm-3 {
    --visible-cols: 3;
  }
}
@media screen and (max-width: 474px) {
  .grid.grid--slider.grid-palm-4 {
    --visible-cols: 4;
  }
}
@media screen and (max-width: 474px) {
  .grid.grid--slider.grid-palm-5 {
    --visible-cols: 5;
  }
}
@media screen and (max-width: 474px) {
  .grid.grid--slider.grid-palm-6 {
    --visible-cols: 6;
  }
}
.grid--slider {
  grid-auto-flow: column;
  grid-template-columns: var(--col-size);
  grid-auto-columns: var(--col-size);
  position: relative;
}
.grid.grid--slider.grid--layout {
  grid-template-columns: repeat(var(--visible-cols), var(--col-size));
}
@media screen and (min-width: 1024px) {
  .grid.grid--slider.grid--highlight-first-item {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.grid--slider.grid--highlight-first-item div:first-child {
    grid-column-start: span 2;
  }
}
@media screen and (max-width: 359px) {
  .grid.grid--slider.grid-tiny-1 {
    --visible-cols: 1;
  }
}
.grid.grid--slider.grid--gap-small {
  --col-gap: 18px;
}
.grid.grid--slider.grid--gap-large {
  --col-gap: calc(var(--gutter-xlarge) * 0.6);
}
.grid.grid--slider.grid--gap-xlarge {
  --col-gap: calc(var(--gutter-xlarge) * 0.8);
}
.grid.grid--slider.grid--gap-none {
  --col-gap: 0px;
}
.grid.grid--slider.grid--gap-bottom {
  row-gap: var(--gutter-xlarge);
}
.grid.grid--slider.grid--no-stretch {
  align-items: start;
}
@media screen and (max-width: 1023px) {
  .grid.grid--slider.portable--grid--slider {
    --col-gap: var(--grid-gap);
    --col-size: calc((100% - var(--col-gap) * (var(--visible-cols) - 1)) / var(--visible-cols)) !important;
    grid-auto-flow: column !important;
    grid-template-columns: var(--col-size) !important;
    grid-auto-columns: var(--col-size) !important;
  }
  .grid.grid--slider.portable--grid--slider.grid-1 {
    --visible-cols: 1;
  }
}
:root {
  --gutter-small: 15px;
  --gutter-regular: 25px;
  --gutter-large: 50px;
  --gutter-xlarge: 80px;
  --gutter-container: 40px;
  --sidebar-width: 420px;
  --sidebar-gutter: 40px;
  --full-height: 100vh;
  --button-padding-large: 0.9375rem 2.875rem;
  --button-padding-regular: 0.6875rem 2.25rem;
  --button-padding-small: 0.5rem 1.625rem;
  --input-padding: 0.75rem;
  --button-product: 3.75rem;
  --header-vertical-space: 30px;
  --container-vertical-space: var(--container-vertical-space-base);
  --grid-gap: var(--grid-gap-original-base);
}
@media screen and (max-width: 1280px) {
  :root {
    --gutter-small: 12px;
    --gutter-regular: 20px;
    --gutter-large: 35px;
    --gutter-xlarge: 60px;
    --container-vertical-space: calc(var(--container-vertical-space-base) * 0.8);
    --grid-gap: calc(var(--grid-gap-original-base) * 0.8);
  }
}
@media screen and (max-width: 1023px) {
  :root {
    --gutter-small: 9px;
    --gutter-regular: 15px;
    --gutter-large: 25px;
    --gutter-xlarge: 40px;
    --gutter-container: 30px;
    --button-padding-large: 0.75rem 2.5rem;
    --sidebar-width: 375px;
    --sidebar-gutter: 20px;
    --header-vertical-space: 20px;
    --container-vertical-space: calc(var(--container-vertical-space-base) * 0.6);
    --grid-gap: calc(var(--grid-gap-original-base) * 0.5);
  }
}
@media screen and (max-width: 767px) {
  :root {
    --button-padding-large: 0.75rem 2rem;
    --button-padding-regular: 0.5rem 1.5rem;
    --button-padding-small: 0.375rem 0.875rem;
    --input-padding: 0.5rem;
    --button-product: 3.125rem;
    --gutter-container: 20px;
    --header-vertical-space: 15px;
  }
}
@media screen and (max-width: 474px) {
  :root {
    --sidebar-width: 100%;
    --sidebar-gutter: 15px;
    --gutter-container: 15px;
  }
}

.grid.grid--slider .css-slide {
  max-width: none;
  width: auto;
}



.css-slider.fade .css-slide.css-slide--snap:nth-child(1n + 2) {
  position: absolute;
  inset: 0;
}
.css-slider.fade .css-slide.css-slide--snap:not(.css-slide-active) {
  opacity: 0;
  transition: all 0.1s linear;
}
.css-slider.fade .css-slide.css-slide--snap.css-slide-active {
  opacity: 1;
  transition: all 0.4s linear;
}
